*{
    margin: 0;
    padding: 0;
}
.con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));   
}

ul,li{
    list-style: none;
    border: 1px solid black;
    border-collapse: collapse;
}

